.uploader {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(34, 34, 34, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px; }
  .uploader .uploader__preview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 0; }
    .uploader .uploader__preview:empty {
      display: none; }
  .uploader .uploader__preview:not(:empty) + .uploader__file-manager {
    margin-top: 20px; }

.dropzone {
  box-sizing: border-box;
  position: relative; }
  .dropzone .dropzone__wrapper {
    display: block; }
    .dropzone .dropzone__wrapper .dropzone__control {
      cursor: pointer; }
      .dropzone .dropzone__wrapper .dropzone__control .dropzone__input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer; }
      .dropzone .dropzone__wrapper .dropzone__control .dropzone__button {
        padding: 13px 18px;
        border-radius: 3px;
        font-size: 16px;
        display: block;
        width: 100%;
        color: rgba(34, 34, 34, 0.6);
        text-align: center;
        background-color: rgba(22, 122, 244, 0.2);
        border: 1px solid rgba(22, 122, 244, 0.05);
        box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.1); }
      .dropzone .dropzone__wrapper .dropzone__control:hover .dropzone__button {
        background-color: rgba(22, 122, 244, 0.25);
        box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.2); }
    .dropzone .dropzone__wrapper .dropzone__dragzone {
      display: none;
      height: 150px;
      background-color: rgba(22, 122, 244, 0.03);
      border: 3px dashed rgba(22, 122, 244, 0.1);
      border-radius: 3px;
      position: relative;
      justify-content: center;
      align-items: center; }
      .dropzone .dropzone__wrapper .dropzone__dragzone::after {
        content: attr(data-text);
        font-weight: bold;
        color: rgba(22, 122, 244, 0.5); }
  .dropzone.dropzone--hide {
    display: none; }
  .dropzone.dropzone--active-dragzone .dropzone__control {
    display: none; }
  .dropzone.dropzone--active-dragzone .dropzone__dragzone {
    display: flex;
    height: 250px;
    width: 100%;
    z-index: 5;
    top: 0; }
  .dropzone.dropzone--drop-dragzone .dropzone__dragzone {
    background-color: rgba(22, 122, 244, 0.1);
    border-color: rgba(22, 122, 244, 0.2);
    border-style: solid; }

.preview-item {
  width: 100%;
  border-radius: 3px;
  background: #f1f1f1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: relative;
  transition: opacity 0.2s ease-in-out; }
  .preview-item.preview-item--show {
    opacity: 1; }
  .preview-item .preview-item__information {
    display: grid;
    grid-template-columns: auto 2fr auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px; }
    .preview-item .preview-item__information .preview-item__title {
      font-size: 18px;
      line-height: 20px;
      overflow: hidden;
      padding: 15px 0; }
    .preview-item .preview-item__information .preview-item__size {
      font-size: 14px;
      font-weight: bold;
      text-align: right; }
    .preview-item .preview-item__information .preview-item__type {
      margin-right: 15px;
      min-width: 70px;
      padding-left: 6px; }
      .preview-item .preview-item__information .preview-item__type span {
        display: inline-flex;
        font-size: 12px;
        text-align: center;
        padding: 5px 15px;
        background: #167af4;
        color: #fff;
        border-radius: 5px;
        text-transform: uppercase; }
  .preview-item .preview-item__actions {
    height: 50px;
    right: 0;
    top: 0;
    display: flex;
    padding: 6px;
    background: #f1f1f1;
    transition: all 200ms ease-in; }
    .preview-item .preview-item__actions .preview-item-action {
      display: block;
      width: 36px;
      height: 36px;
      padding: 0;
      display: none;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer; }
      .preview-item .preview-item__actions .preview-item-action svg {
        width: 15px; }
      .preview-item .preview-item__actions .preview-item-action:hover {
        box-shadow: 0px 0px 1px 1px rgba(34, 34, 34, 0.1); }
    .preview-item .preview-item__actions .preview-item-action-cancel {
      color: #d39e00; }
    .preview-item .preview-item__actions .preview-item-action-replay {
      color: #41b883; }
    .preview-item .preview-item__actions .preview-item-action + .preview-item-action {
      margin-left: 6px; }
  .preview-item .preview-item__error {
    padding: 10px;
    padding-top: 0;
    color: #ff6a6a;
    font-size: 14px; }
    .preview-item .preview-item__error:empty {
      display: none; }
  .preview-item .preview-item__progress {
    display: none; }
  .preview-item.preview-item--queued .preview-item__actions .preview-item-action-cancel, .preview-item.preview-item--uploading .preview-item__actions .preview-item-action-cancel {
    display: block; }
  .preview-item.preview-item--canceled .preview-item__information .preview-item__type span {
    background: #d39e00; }
  .preview-item.preview-item--replay .preview-item-action-replay {
    display: block; }
  .preview-item.preview-item--queued .preview-item__progress, .preview-item.preview-item--uploading .preview-item__progress, .preview-item.preview-item--success .preview-item__progress {
    display: block; }
  .preview-item.preview-item--error .preview-item__information .preview-item__delete {
    display: none; }
  .preview-item.preview-item--success .preview-item__information span {
    background: #41b883; }
  .preview-item.preview-item--success .preview-item__delete {
    display: none; }
  .preview-item.preview-item--success .preview-item-progress__line {
    width: 100%;
    background-color: #41b883; }

.preview-item-progress {
  width: 100%;
  border-radius: 3px;
  height: 6px;
  background-color: rgba(22, 122, 244, 0.2); }
  .preview-item-progress .preview-item-progress__line {
    width: 0%;
    height: 6px;
    background-color: #167af4;
    border-radius: 0 3px 3px 0;
    transition: 0.4s linear;
    background-size: 60px 60px;
    transition-property: width, background-color; }
  .preview-item-progress.preview-item-progress--processing .preview-item-progress__line {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
    animation: animate-stripes 1s linear infinite; }

@keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }
